<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c59a93">  <td>23/11/08 11:50:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.PatchExecutor()[pri:0, instance:testCases.Patch_TC1@1984b1f]">PatchExecutor</td> 
  <td>main@872522004</td>   <td></td> </tr>
<tr bgcolor="63d2fe">  <td>23/11/08 11:50:20</td>   <td>-6966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.PostExecutor()[pri:0, instance:testCases.Post_TC1@6bc407fd]">PostExecutor</td> 
  <td>main@872522004</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/11/08 11:50:29</td>   <td>2159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.DeleteExecutor()[pri:0, instance:testCases.Delete_TC1@39ac0c0a]">DeleteExecutor</td> 
  <td>main@872522004</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>23/11/08 11:50:26</td>   <td>-1263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.PutExecutor()[pri:0, instance:testCases.Put_TC1@1b75c2e3]">PutExecutor</td> 
  <td>main@872522004</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/11/08 11:50:28</td>   <td>1337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.GetExecutor()[pri:0, instance:testCases.Get_TC1@3bd323e9]">GetExecutor</td> 
  <td>main@872522004</td>   <td></td> </tr>
</table>
