<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3667b">  <td>23/10/19 12:53:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Post_TC1.MSG()[pri:0, instance:testCases.Post_TC1@1e8b7643]">&lt;&lt;MSG</td> 
<td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="a3667b">  <td>23/10/19 12:53:29</td>   <td>-7509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Post_TC1.msg()[pri:0, instance:testCases.Post_TC1@1e8b7643]">&gt;&gt;msg</td> 
<td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="a3667b">  <td>23/10/19 12:53:29</td>   <td>-7337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.Executor()[pri:0, instance:testCases.Post_TC1@1e8b7643]">Executor</td> 
  <td>main@1756573246</td>   <td></td> </tr>
</table>
